*{
    margin: 0;
}

body{
	background-color: #f5f6fa;
	/*background-image: url("images/covidwallpaper.jpg");*/
}

h1{
	font-family: 'Orelega One', cursive;
}

.app{
	display: flex;
	justify-content: space-evenly;

}

.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

}

.app__header > h1{
	color:red;
	font-size: 2rem;
}

.app__dropdown{
	background-color: white;
}

.app__left{
	flex: 0.9;
}

.app__stats{
	display: flex;
	justify-content: space-between;;
}

.app__graph{
	flex-grow: 1;
}

.app__graphTitle{
	margin-top: 20px;
	margin-bottom: 20px;
}

.app, .app__header, .app__stats, .map{
	padding: 20px;

}

@media(max-width: 990px){
	.app{
		flex-direction: column;
	}
}